// @font-face {
//     font-family: "";
//     src: url("");
// }
@font-face {
  font-family: "Source Sans";
  src: url("../../fonts/SourceSans/SourceSansPro-Light.ttf");
}

@font-face {
  font-family: "Oleo Script";
  src: url("../../fonts/OleoScript/OleoScript-Regular.ttf");
}
